

*{
    font-family: 'Poppins', sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition:width none;
}

body {
    background: url(./body-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

:root{
    --gradient-1: linear-gradient(to right, #ec733f 0%, #5213c6 100%); 
    --gradient-2: linear-gradient(to right, #d746b3 0%, #370459 100%); 
    --gradient-3: linear-gradient(90deg, transparent 0%, #9841ff 50%, transparent 100%);
    --black:#444;
    --light-color:#fffafa;
    --border: 1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(black);
    --box-shadow: 0 .5rem 1re, rgba(0,0,0,.1);


    --bg-purple-alpha-30: hsla(267, 100%, 63%, 0.3);
    --bg-purple: hsla(267, 100%, 63%, 1);
    --bg-dark-purple: hsla(279, 42%, 9%, 1);
    --bg-oxford-blue: hsla(240, 63%, 13%, 1);
}

html {
    font-size: 62, 5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scroolbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--black);
}


section {
    padding: 5rem 9%;
}

.heading {
   text-align: center;
   margin-bottom: 2rem;
   position: relative;
}

.heading::before {
   content: '';
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
   width: 100%;
   height: .01rem;
   background: rgba(0, 0, 0, .1);
   z-index: -1;
}

.heading {
   font-size: 3rem;
   padding: .5rem 2rem;
   color: var(--light-color);
   background: none;

   /*
   border: var(--border);
   */
} 

span {
    color: var(--bg-purple);
}



/*BTN*/

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--gradient-1);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover {
    background: var(--gradient-2);
}



/*HEADER-1*/

.header .header-1 {
    background: var(--bg-oxford-blue);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--light-color);
}

.header .header-1 .logo i{
    color: var(--light-color);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 5rem;
    border:var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover { 
    color:var(--green);
}

.header .header-1 .icons div, 
.header .header-1 .icons a {
    font-size:2.5rem;
    margin-left:1.5rem;
    color: var(--light-color);
    cursor:pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--black);
}

#search-btn{
    display: none;
}





/*HEADER-2*/

.header .header-2 {
    background: none;
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a{
    color: #fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--bg-purple);
}

.header .header-2 .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}




/*BOTTOM-NAVBAR*/
 
 
.bottom-navbar {
    text-align: center;
    background: var(--bg-oxford-blue);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--bg-purple);
}




/*LOGIN-FORM*/

.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./body-bg.jpg);
    position: fixed;
    top: 105%; 
    left: 0; 
    opacity: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
}

.login-form-container.active {
    top: 0;
    opacity: 1;
}

.login-form-container form {
    background: #fff;
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: var(--black);
    font-size: 1.5rem; 
}

.login-form-container form p a {
    color: var(--bg-purple);
    text-decoration: underline;

}

.login-form-container #close-login-btn {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    font-size: 5rem;
    color: var(--light-color);
    cursor: pointer;
}
    


/*HOME SECTION*/

.home {
    background: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row {
    flex: 1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home img {
    width: 100%;
    margin: 5rem 0;
} 

.home .row a img {
    height: 25rem;
}

.home .row a:hover {
    transform: scale(.9);
}

.home .row .stand {
    width: 100%;
    margin-top: -2rem;
}

.home .row .content h3 {
    color: var(--light-color);
    font-size: 4.5rem;
}

.home .row .content p {
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
}
 


  
/*CATEGORY*/

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 1em;
}
.category-listing{position: relative;}
.category-img {
    line-height: 0px;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.category-img img {
    filter: blur(0px);
    transition: filter 0.35 ease-in-out ;
    transform: scale(1.1);
}
.category-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 41%;
    width: 100%;
    top: 0; left: 0;
    opacity: 0;
    transition: opacity .5s;
    background-color: rgb(232, 219, 222) 0.4;
    display: flex;
    text-align: center;
    justify-content: center;
}
.category-listing a{ padding-top: 80px;}
.category-listing:hover .category-title {
    opacity: 1;
}
.category-listing:hover .category-img {
    filter: blur(3px);
}




/*ICONS CONTAINER*/
 
 
.icons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.icons-container .icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 0;
    color: rgba(255, 255, 255, 0.741);
}

.icons-container .icons i {
    font-size: 3.5rem;
    color: var(--gradient-1);
}


.icons-container .icons h3 {
    font-size: 2.2rem;
    color: var(--light-color);
    padding-bottom: .5rem;
}

.icons-container .icons p {
    font-size: 1.4rem;
    color: var(--light-color);
}





/*FEATURED SECTION*/

.featured .featured-slider .box{
    /* width: 25rem; */
       margin: 2rem 0;    /* Cách dòng trên */
       position: relative;
       overflow: hidden;
       border: var(--border);
       text-align: center;
   }
   
   .featured .featured-slider .box:hover {
       border: var(--border-hover);
   }
   
   .featured .featured-slider .box .image {
       padding: 0rem;
       background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
   }
   
   .featured .featured-slider .box:hover .image {
       transform: translateY(4rem);    /*Điều chỉnh ảnh và chữ khi nhấn*/
   }
   
   
   .featured .featured-slider .box img {
       height: 15rem;    /* Chiều cao của thành phần*/
   }
   
   .featured .featured-slider .box .icons {
       padding-bottom: var(--border-hover);
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       background: #fff;
       z-index: 1;
       transform: translateY(-105%);
   }
   
   .featured .featured-slider .box:hover .icons {
       transform: translateY(0%);
   }
   
   .featured .featured-slider .box .icons a {
       color: var(--black);
       font-size: 2.2rem;
       padding: 1.3rem 1.5rem;
   }
   
   .featured .featured-slider .box .icons a:hover {
       background: var(--green);
       color: var(--bg-purple);
   }
   
   .featured .featured-slider .box .content {
       background: #eee;
       padding: 1.5rem;
   }
   
   .featured .featured-slider .box .content h3 {
       font-size: 2rem;
       color: var(--black);
   }
   
   .featured .featured-slider .box .content .price {
       font-size: 2.2rem;
       color: var(--black);
       padding-top: 1rem;
   }
   
   .featured .featured-slider .box .content .price span {
       font-size: 1.5rem;
       color: red;
       text-decoration: line-through;
   }  
   
   .swiper-button-next,
   .swiper-button-prev {
       border: var(--border-hover);
       height: 4rem;
       width: 4rem;
       color: var(--black);
       background: #fff;
   }
   
   .swiper-button-next,
   .swiper-button-prev {
       font-size: 2rem;
   }
   
   .swiper-button-next,
   .swiper-button-prev{
       background: var(--black);
       color: #fff;
   }

 


/*ARRIVAL SECTION*/

.products .product-slider {
    padding: 1rem;
}

.products .product-slider:first-child {
    margin-bottom: 2rem;
}

.products .product-slider .box {
    background-color: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 1rem 0rem;
    outline-offset: -1rem;
    outline: var(--border);
    box-shadow: var(--border);
    transition: .2s linear;
}

.products .product-slider .box:hover {
    outline-offset: -1rem;
    outline: white;
}

.products .product-slider .box img {
    height: 15rem;
}


.products .product-slider .box .price {
    font-size: 2rem;
    color: white;
    padding: .5rem 0;
}

.products .product-slider .box .price {
    font-size: 1.7rem;
    color: var(--black);
}




/*DEAL SECTION*/
.deal {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.deal .content {
    flex: 1 1 42rem;
}

.deal .image {
    flex: 1 1 42rem;
}

.deal .image img {
    width: 100%;
}

.deal .content h3 {
    color: var(--gradient-1);
    font-size: 2.5rem;
    padding-bottom: .5rem;
}

.deal .content h1 {
    color: var(--black);
    font-size: 4rem;
}

.deal .content p {
    padding: 1rem 0;
    color: var(--bg-purple);
    font-size: 2rem;
    line-height: 2;

}





/*reviews section*/

.reviews .reviews-slider .box {
    width: 30rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
    margin: 2rem 0;
    background-color: rgba(255, 255, 255, 0.501);
}

.reviews .reviews-slider .box:hover {
    border: var(--border-hover);
}

.reviews .reviews-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .reviews-slider .box h3 {
    color: var(--light-color);
    font-size: 2.2rem;
    padding: .5rem 0;
}

.reviews .reviews-slider .box p {
    color: var(--black);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 2;
}

.reviews .reviews-slider .box .stars {
    font-size: 1.7rem;
    color: var(--gradient-1);
}



/*BLOGS SECTION*/

.blogs .blogs-slider .box {
    margin: 2rem 0;
    border: var(--border);
}

.blogs .blogs-slider .box:hover {
    border: var(--border-hover);
}

.blogs .blogs-slider .box .image {
    height: 25rem;
    width: 100%;
    overflow: hidden;
}

.blogs .blogs-slider .box .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.blogs .blogs-slider .box:hover .image img {
    transform: scale(1.1);
}

.blogs .blogs-slider .box .content {
    padding: 1.5rem;
}

.blogs .blogs-slider .box .content h3 {
    font-size: 2.2rem;
    color: white;
}

.blogs .blogs-slider .box .content p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}




/*NEWSLETTER SECTION*/

.newsletter form {
    /* background: url(/Image/6255101.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.newsletter form {
    max-width: 100rem;
    margin-left: auto;
    text-align: center;
    padding: 5rem 0;
}
 
.newsletter form h3 {
    font-size: 2.2rem;
    color:#fff;
    padding-bottom: .7rem;
    font-weight: normal;
}

.newsletter form .box {
    width: 100%;
    margin: .7rem 0;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    border-radius: .5rem;
    text-transform: none;
}






/*FOOTER*/

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.footer .box-container .box a i {
    color: var(--gradient-1);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: .2rem;
}

.footer .box-container .box map {
    width: 100%;
}

.footer .share {
    padding: 1rem 0;
    text-align: center;
}

.footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    background: var(--gradient-1);
    margin: 0 .3rem;
    border-radius: 50%;
}

.footer .share a:hover {
    background: var(--black);
}

.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--gradient-1);
}



/*Loader*/

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active {
    display: none;
}

.loader-container img {
    height: 10rem;
}



/* media */
 
 @media (max-width: 911px) {
 
    html {
        font-size: 55%;
    }

    .header .header-1 {
        padding: 2rem;
    }

    section {
        padding: 3rem 2rem;
    }

}


@media (max-width:768px) {

    html {
        scroll-padding-top: 0;
    }

    body {
        padding-bottom: 6rem;
    }

    .header .header-2 {
        display: none;
    }

    .bottom-navbar {
        display: block;
    }

    #search-btn {
        display: inline-block;
    }

    .header .header-1 {
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position: absolute;
        top: -115%;
        right: 2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active {
        top: 115%;
    }

    .home .row .content {
        text-align: center;
    }
    
    .home .row .content h3 {
        font-size: 3.5rem;
    }

    .newsletter {
       background-position: right;
    }

    .newsletter form {
       margin-left: 0;
       max-width: 100%;
    }

}


@media (max-width: 450px) {

    html {
        font-size: 50%;
    }
       
}







/*CATEGORIES WEB*/


   